@tailwind base;
@tailwind components;
@tailwind utilities;

/* Below animations are fore modal created using React-Modal */
.ReactModal__Overlay {
  transition: transform 300ms ease-in-out;
  transition-delay: 100ms;
  transform: scale(0);
  /* transform: translateY(-150%); */
}

.ReactModal__Overlay--after-open {
  transform: scale(1);
  /* transform: translateY(0%); */
}

.ReactModal__Overlay--before-close {
  transform: scale(0);
  /* transform: translateY(-150%); */
}

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-sm;
}

@screen sm {
  .markdown {
    @apply text-base;
  }
}

@screen lg {
  .markdown {
    @apply text-lg;
  }
}

/* Headers */
.markdown h1,
.markdown h2 {
  @apply text-xl my-6 font-semibold;
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {

  .markdown h1,
  .markdown h2 {
    @apply text-2xl;
  }

  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-xl;
  }
}

/* Links */
.markdown a {
  @apply text-primary-600;
}

.markdown a:hover {
  @apply underline;
}

/* Paragraph */
.markdown p {
  @apply mb-4;
}

/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}

.markdown li>p,
.markdown li>ul,
.markdown li>ol {
  @apply mb-0;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply list-disc;
}

/* Blockquotes */
.markdown blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}

.markdown blockquote>p {
  @apply mb-0;
}

/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border border-gray-400;
}

.markdown tr:nth-child(odd) {
  @apply bg-gray-100;
}

.markdown table {
  @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/
.markdown :not(pre)>code.language-text {
  white-space: pre-line;
}

/* purgecss end ignore */